/* Styles for the CoverPop.js plugin */


html,
body {
    overflow: auto;
}

body {
    position: relative;
}

.CoverPop-open,
.CoverPop-open body {
    overflow: hidden;
}

#CoverPop-cover {
    display: none;
    position: fixed;
    overflow-y: scroll;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    -webkit-animation: fade-in .25s ease-in;
    -moz-animation-name: fade-in .25s ease-in;
    -ms-animation-name: fade-in .25s ease-in;
    -o-animation-name: fade-in .25s ease-in;
    animation-name: fade-in .25s ease-in;
}

    .CoverPop-open #CoverPop-cover {
        display: block;
    }


@-webkit-keyframes fade-in {
    0% { opacity: 0; }
    25% { opacity: 0; }
    100% { opacity: 1; }
}

.splash {
    background-color: rgba(0,0,0,0.95);
}

.splash-center {
    position: relative;
    text-align: center;
    height: 160px;
    width: 500px;
    background: #000;
    color: white;
    font-family: Open Sans;
    margin: 10% auto 0;
}

.splash-center .leftimage {
    float: left;
    box-shadow: 0 1px 6px rgba(0,0,0,0.6);
}

.splash-center .close-splash {
    position: absolute;
    top: -6px;
    right: 5px;
}

.splash-center .content-splash {
    float: left;
    width: 270px;
    margin: 46px 5px;
}

.splash-center .content-splash a {
    font-family: Open Sans;
    color: #e85b1f;
    text-decoration: none;
}

.splash-center .splash-title {
    color: #fff;
    font-family: Open Sans;
    font-weight: 500;
    font-size: 18px;
    padding: 0;
    margin: 0 0 10px 0;
}